.container {
  width: 100%;
  min-height: 100vh;
  background-color: #191919;
  color: white;
  padding-bottom: 1.5rem; /*expandir um rem pra cima e um pra baixo*/
  text-align: center;
  padding-inline: 1.5rem;
  overflow: hidden; /*não permitir barra de rolagem no container*/
}
