.header {
  background-color: #000000;
  border-bottom: 2px solid #f44336;
  position: fixed;/*estar치 sempre presente no mesmo lugar*/
  top: 0;/*ficar치 no topo*/
  height: 68px;
  width: 100%;/*Ocupar치 toda a tela horizontal*/
  display: flex;
  align-items: center;
  justify-content: space-around; /*Logo de um lado e links de outro*/
  z-index: 9999; /*profundidade, tudo ir치 passar por baixo do header*/
}

.header span{
    font-size: 2rem;
    color: #b71c1c;
    font-weight: 500; /*negrito*/
}

.header a{
    text-decoration: none;
    color: white;
    padding-inline: 0.5rem; /*afastar os nomes em linha*/
    font-size: 1.125rem;
}
